@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Jacques+Francois+Shadow&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbarLogo2 {
    font-family: "Jacques Francois";
    font-weight: 400;
    font-style: normal;
  }



.navbarLogo {
font-family: "Jacques Francois Shadow";
font-weight: 400;
font-style: normal;
}

.navText {
    font-family: "Jacques Francois";
    font-weight: 400;
    font-style: normal;
  }